<?xml version="1.0"?>

<model>
  <name>Diptera_Antenna</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dr. Abdussalam alajami</name>
    <email>abdussalam.alajami@upf.edu</email>
  </author>

  <description>
    A model of a rfid antenna sensor.
  </description>

</model>
